#if($services.rightsAccess.isLoggedIn())
  #if($isAdmin)
    #set($overwriteLayoutRef = $services.reference.create().space("UserAdmin").build())
  #else
    #set($userDocRef = $services.reference.resolveDocRef(${context.getUser()}))
    #set($url = $services.url.getURL($userDocRef, 'edit', 'xredirect=/'))
    $response.sendRedirect($url)
  #end
#else
  #set($overwriteRenderDocument = 'celInlineTemplates/login.vm')
#end
