#if($isAdmin)
  #set($overwriteLayoutRef = $services.reference.create().space("UserAdmin").build())
#elseif($services.rightsAccess.isLoggedIn())
  #set($userDocRef = $services.reference.resolveDocRef(${context.getUser()}))
  #set($url = $services.url.getURL($userDocRef, 'edit', 'xredirect=/'))
  $response.sendRedirect($url)
#else
  #set($overwriteRenderDocument = 'celInlineTemplates/login.vm')
#end
