$jsonBuilder.openProperty('celmeta')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('language', "$language")
$jsonBuilder.addProperty('admin-language', "$admin_language")
$jsonBuilder.addProperty('contextPath', "${request.contextPath}")
$jsonBuilder.addProperty('database', "${context.database}")
$jsonBuilder.openProperty('isAdmin')
$jsonBuilder.addValue($isAdmin)
$jsonBuilder.openProperty('isSuperAdmin')
$jsonBuilder.addValue($isSuperAdmin)
$jsonBuilder.addProperty('startupTimeStamp', "${services.celementsweb.getLastStartupTimeStamp()}")
$jsonBuilder.closeDictionary()
## Reconnector
$jsonBuilder.openProperty('Reconnector')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('retryNotice', "$!adminMsg.get('cel_reconnector_retryNotice')")
$jsonBuilder.addProperty('retryDelayNotice', "$!adminMsg.get('cel_reconnector_retryDelayNotice')")
$jsonBuilder.closeDictionary()
## jquery.formater
$jsonBuilder.openProperty('jqueryFormater')
$jsonBuilder.openDictionary()
$jsonBuilder.openProperty('monthsFull')
$jsonBuilder.openArray()
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_january')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_february')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_march')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_april')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_may')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_june')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_july')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_august')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_september')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_october')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_november')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsFull_december')")
$jsonBuilder.closeArray()
$jsonBuilder.openProperty('monthsShort')
$jsonBuilder.openArray()
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_january')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_february')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_march')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_april')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_may')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_june')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_july')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_august')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_september')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_october')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_november')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_monthsShort_december')")
$jsonBuilder.closeArray()
$jsonBuilder.openProperty('daysFull')
$jsonBuilder.openArray()
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysFull_sunday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysFull_monday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysFull_tuesday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysFull_wednesday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysFull_thursday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysFull_friday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysFull_saturday')")
$jsonBuilder.closeArray()
$jsonBuilder.openProperty('daysShort')
$jsonBuilder.openArray()
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysShort_sunday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysShort_monday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysShort_tuesday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysShort_wednesday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysShort_thursday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysShort_friday')")
$jsonBuilder.addValue("$!adminMsg.get('cel_date_formater_daysShort_saturday')")
$jsonBuilder.closeArray()
$jsonBuilder.closeDictionary()
## celements photo slideShow
$jsonBuilder.openProperty('celslideshow')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('cmPause', "$!adminMsg.get('cel_slideshow_cm_pause')")
$jsonBuilder.addProperty('cmContinue', "$!adminMsg.get('cel_slideshow_cm_continue')")
$jsonBuilder.addProperty('cmOpenLink', "$!adminMsg.get('cel_slideshow_cm_openlink')")
$jsonBuilder.closeDictionary()
## celements admin importer (import.js)
$jsonBuilder.openProperty('celAdminImport')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('availableDocuments', "$!adminMsg.get('core.importer.availableDocuments')")
$jsonBuilder.addProperty('importHistoryLabel', "$!adminMsg.get('core.importer.importHistory')")
$jsonBuilder.addProperty('selectionEmpty', "$!adminMsg.get('core.importer.selectionEmptyWarning')")
$jsonBuilder.addProperty('import', "$!adminMsg.get('core.importer.import')")
$jsonBuilder.addProperty('package', "$!adminMsg.get('core.importer.package')")
$jsonBuilder.addProperty('description', "$!adminMsg.get('core.importer.package.description')")
$jsonBuilder.addProperty('version', "$!adminMsg.get('core.importer.package.version')")
$jsonBuilder.addProperty('licence', "$!adminMsg.get('core.importer.package.licence')")
$jsonBuilder.addProperty('author', "$!adminMsg.get('core.importer.package.author')")
$jsonBuilder.addProperty('documentSelected', "$!adminMsg.get('core.importer.documentSelected')")
$jsonBuilder.addProperty('whenDocumentAlreadyExists', "$!adminMsg.get('core.importer.whenDocumentAlreadyExists')")
$jsonBuilder.addProperty('addNewVersion', "$!adminMsg.get('core.importer.addNewVersion')")
$jsonBuilder.addProperty('replaceDocumentHistory', "$!adminMsg.get('core.importer.replaceDocumentHistory')")
$jsonBuilder.addProperty('resetHistory', "$!adminMsg.get('core.importer.resetHistory')")
$jsonBuilder.addProperty('importAsBackup', "$!adminMsg.get('core.importer.importAsBackup')")
$jsonBuilder.addProperty('select', "$!adminMsg.get('core.importer.select')")
$jsonBuilder.addProperty('all', "$!adminMsg.get('core.importer.selectAll')")
$jsonBuilder.addProperty('none', "$!adminMsg.get('core.importer.selectNone')")
$jsonBuilder.closeDictionary()
## celements menu
$jsonBuilder.openProperty('celmenu')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('supportLinkURL', "$!services.celementsweb.getSupportLinkURL()")
$jsonBuilder.closeDictionary()
## xwiki/actionButtons.js
$jsonBuilder.openProperty('actionButtons')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('cancel', "$!adminMsg.get('core.shortcuts.edit.cancel')")
$jsonBuilder.addProperty('preview', "$!adminMsg.get('core.shortcuts.edit.preview')")
$jsonBuilder.addProperty('backtoedit', "$!adminMsg.get('core.shortcuts.edit.backtoedit')")
$jsonBuilder.addProperty('saveandview', "$!adminMsg.get('core.shortcuts.edit.saveandview')")
$jsonBuilder.addProperty('saveandcontinue', "$!adminMsg.get('core.shortcuts.edit.saveandcontinue')")
$jsonBuilder.addProperty('mandatoryField', "$!adminMsg.get('core.editors.validation.mandatoryField')")
$jsonBuilder.addProperty('commentPrompt', "$!adminMsg.get('core.comment.prompt')")
$jsonBuilder.closeDictionary()
## xwiki/attachments.js
$jsonBuilder.openProperty('attachments')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('deleteConfirm', "$!adminMsg.get('core.viewers.attachments.delete.confirm')")
$jsonBuilder.addProperty('deleteInProgress', "$!adminMsg.get('core.viewers.attachments.delete.inProgress')")
$jsonBuilder.addProperty('deleteDone', "$!adminMsg.get('core.viewers.attachments.delete.done')")
$jsonBuilder.addProperty('deleteFailed', "$!adminMsg.get('core.viewers.attachments.delete.failed')")
$jsonBuilder.addProperty('addFileInput', "$!adminMsg.get('core.viewers.attachments.upload.addFileInput')")
$jsonBuilder.addProperty('removeFileInput', "$!adminMsg.get('core.viewers.attachments.upload.removeFileInput')")
$jsonBuilder.addProperty('removeFileInputTitle', "$!adminMsg.get('core.viewers.attachments.upload.removeFileInput.title')")
$jsonBuilder.addProperty('extranb', "$!adminMsg.get('docextra.extranb', ['__number__'])")
$jsonBuilder.closeDictionary()
## xwiki/code.js
$jsonBuilder.openProperty('code')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('showLineNumbers', "$!adminMsg.get('core.viewers.code.showLineNumbers')")
$jsonBuilder.addProperty('hideLineNumbers', "$!adminMsg.get('core.viewers.code.hideLineNumbers')")
$jsonBuilder.closeDictionary()
## xwiki/comments.js
$jsonBuilder.openProperty('comments')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('commentDeleted', "$!adminMsg.get('core.viewers.comments.commentDeleted')")
$jsonBuilder.addProperty('deleteConfirm', "$!adminMsg.get('core.viewers.comments.delete.confirm')")
$jsonBuilder.addProperty('deleteInProgress', "$!adminMsg.get('core.viewers.comments.delete.inProgress')")
$jsonBuilder.addProperty('deleteDone', "$!adminMsg.get('core.viewers.comments.delete.done')")
$jsonBuilder.addProperty('deleteFailed', "$!adminMsg.get('core.viewers.comments.delete.failed')")
$jsonBuilder.addProperty('editFormFetchInProgress', "$!adminMsg.get('core.viewers.comments.editForm.fetch.inProgress')")
$jsonBuilder.addProperty('editFormFetchFailed', "$!adminMsg.get('core.viewers.comments.editForm.fetch.failed')")
$jsonBuilder.addProperty('addInProgress', "$!adminMsg.get('core.viewers.comments.add.inProgress')")
$jsonBuilder.addProperty('addDone', "$!adminMsg.get('core.viewers.comments.add.done')")
$jsonBuilder.addProperty('addFailed', "$!adminMsg.get('core.viewers.comments.add.failed')")
$jsonBuilder.addProperty('previewButtonPreview', "$!adminMsg.get('core.viewers.comments.preview.button.preview')")
$jsonBuilder.addProperty('previewInProgress', "$!adminMsg.get('core.viewers.comments.preview.inProgress')")
$jsonBuilder.addProperty('previewFailed', "$!adminMsg.get('core.viewers.comments.preview.failed')")
$jsonBuilder.addProperty('previewButtonBack', "$!adminMsg.get('core.viewers.comments.preview.button.back')")
$jsonBuilder.addProperty('extranb', "$!adminMsg.get('docextra.extranb', ['__number__'])")
$jsonBuilder.closeDictionary()
## xwiki/confirmationBox.js
$jsonBuilder.openProperty('confirmationBox')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('defaultQuestion', "$!adminMsg.get('core.widgets.confirmationBox.defaultQuestion')")
$jsonBuilder.addProperty('yes', "$!adminMsg.get('core.widgets.confirmationBox.button.yes')")
$jsonBuilder.addProperty('no', "$!adminMsg.get('core.widgets.confirmationBox.button.no')")
$jsonBuilder.closeDictionary()
## xwiki/confirmedAjaxRequest.js
$jsonBuilder.openProperty('confirmedAjaxRequest')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('notificationInProgress', "$!adminMsg.get('core.widgets.confirmationBox.notification.inProgress')")
$jsonBuilder.addProperty('notificationDone', "$!adminMsg.get('core.widgets.confirmationBox.notification.done')")
$jsonBuilder.addProperty('notificationFailed', "$!adminMsg.get('core.widgets.confirmationBox.notification.failed')")
$jsonBuilder.closeDictionary()
## xwiki/dataeditors.js
$jsonBuilder.openProperty('dataeditors')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('confirmationText', "$!adminMsg.get('core.editors.object.delete.confirm')")
$jsonBuilder.addProperty('progressMessageText', "$!adminMsg.get('core.editors.object.delete.inProgress')")
$jsonBuilder.addProperty('successMessageText', "$!adminMsg.get('core.editors.object.delete.done')")
$jsonBuilder.addProperty('failureMessageText', "$!adminMsg.get('core.editors.object.delete.failed')")
$jsonBuilder.closeDictionary()
## xwiki/livetable.js
$jsonBuilder.openProperty('livetable')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('resultsOf', "$!adminMsg.get('xe.pagination.results.of')")
$jsonBuilder.addProperty('results', "$!adminMsg.get('xe.pagination.results')")
$jsonBuilder.closeDictionary()
## xwiki/usersandgroups.js
$jsonBuilder.openProperty('usersandgroups')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('denyrightforcurrentuser', "$!adminMsg.get('rightsmanager.denyrightforcurrentuser')")
$jsonBuilder.addProperty('clearrightforcurrentuserinstead', "$!adminMsg.get('rightsmanager.clearrightforcurrentuserinstead')")
$jsonBuilder.addProperty('clearrightforcurrentuser', "$!adminMsg.get('rightsmanager.clearrightforcurrentuser')")
$jsonBuilder.addProperty('denyrightforgroup', "$!adminMsg.get('rightsmanager.denyrightforgroup')")
$jsonBuilder.addProperty('clearrightforgroupinstead', "$!adminMsg.get('rightsmanager.clearrightforgroupinstead')")
$jsonBuilder.addProperty('clearrightforgroup', "$!adminMsg.get('rightsmanager.clearrightforgroup')")
$jsonBuilder.addProperty('denyrightforuorg', "$!adminMsg.get('rightsmanager.denyrightforuorg')")
$jsonBuilder.addProperty('clearrightforuorg', "$!adminMsg.get('rightsmanager.clearrightforuorg')")
$jsonBuilder.addProperty('saveFailure', "$!adminMsg.get('platform.core.rightsManagement.saveFailure')")
$jsonBuilder.addProperty('ajaxFailure', "$!adminMsg.get('platform.core.rightsManagement.ajaxFailure')")
$jsonBuilder.addProperty('edit', "$!adminMsg.get('edit')")
$jsonBuilder.addProperty('delete', "$!adminMsg.get('delete')")
$jsonBuilder.addProperty('confirmdeleteuser', "$!adminMsg.get('rightsmanager.confirmdeleteuser')")
$jsonBuilder.addProperty('confirmdeletegroup', "$!adminMsg.get('rightsmanager.confirmdeletegroup')")
$jsonBuilder.addProperty('confirmdeletemember', "$!adminMsg.get('rightsmanager.confirmdeletemember')")
$jsonBuilder.closeDictionary()
## xwiki.js
$jsonBuilder.openProperty('xwiki')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('readTechnicalInformation', "$!adminMsg.get('platform.core.rendering.error.readTechnicalInformation')")
$jsonBuilder.addProperty('edit', "$!adminMsg.get('edit')")
$jsonBuilder.addProperty('createAjaxError', "$!adminMsg.get('core.create.ajax.error')")
$jsonBuilder.closeDictionary()
## xwikiexplorer.js
$jsonBuilder.openProperty('xwikiexplorer')
$jsonBuilder.openDictionary()
$jsonBuilder.addProperty('attachmentsTitle', "$!adminMsg.get('xwikiexplorer.attachments.title')")
$jsonBuilder.addProperty('addPageTitle', "$!adminMsg.get('xwikiexplorer.addpage.title')")
$jsonBuilder.addProperty('addAttachmentTitle', "$!adminMsg.get('xwikiexplorer.addattachment.title')")
$jsonBuilder.closeDictionary()
